.banner {
    text-align: center;
}

.banner .banner-title {
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}

.banner .subtitle {
    font-size: 3.5vh;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration-line: overline;
    text-decoration-color: blueviolet;
}