.card {
    padding: 1rem;
    max-width: 800px;
    margin: 2rem auto;
}
.card-body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
}

.card .card-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.card-body .card-item {
    max-width: 500px;
    text-align: justify;
}

.card-body .card-item .card-text{
    flex-grow: 3;
}

.card-img {
    max-width:700px ;
    height: 200px;
    object-fit: cover;
    object-position: top;
    flex-grow: 1;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.3rem gray;
    margin: auto;
}