.card {
    padding: 1rem;
    max-width: 1000px;
    margin: 2rem auto;
}

.card-header {
    text-align: center;
    padding: 1rem 0;
}

.card-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-img {
    flex-grow: 2;
    max-width: 700px;
    object-fit: cover;
    max-height: 400px;
    margin: auto;
}

.card-text {
    flex-grow: 1;
}